<!--Navbar-->
<nav class="aqua-gradient navbar navbar-expand-lg navbar-dark info-color fixed-top text-center">

    <a class="navbar-brand" class="text-center">
        <img src="../assets/img/LOGO_LEVEL_APP.png" height="30" alt="">
    </a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" id="incidencias-tab" data-toggle="tab" href="#incidencias" role="tab"
                    aria-controls="incidencias" aria-selected="true">Incidencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab"
                    aria-controls="products" aria-selected="false">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab"
                    aria-controls="clients" aria-selected="false">Clientes</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="preferences-tab" data-toggle="tab" href="#preferences" role="tab"
                    aria-controls="preferences" aria-selected="false">Preferencias</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" id="presupuestator-tab" data-toggle="tab" href="#presupuestator" role="tab"
                    aria-controls="presupuestator" aria-selected="false">Presupuestator</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>


<div class="row mx-0">

    <!-- Bloque de empresa -->
    <div class="col-12 col-md-4 col-lg-2 mx-auto">

        <!-- Bloque de empresa -->
        <div class="card testimonial-card empresa-card">
            <!-- Avatar -->
            <div class="mx-auto white text-center image-logo logo-empresa mt-2">
                <img src="../../../../assets/img/LOGO_LM_2.svg" alt="woman avatar">
            </div>
            <!-- Description -->
            <div class="card-up  pb-3 text-dark text-center datos-negocio">
                <p class="small mb-0">#LoHacemosPosible</p>
            </div>
        </div>

        <!-- Botonera MD -->
        <ul class="botonera-list-md list-group text-left nav-tabs text-decoration-none" id="myTab" role="tablist">
            <li class="card mt-2 my-1">
                <a class="m-3 active" id="incidencias-tab" data-toggle="tab" href="#incidencias" role="tab"
                    aria-controls="incidencias" aria-selected="true">
                    <div class="md-v-line"></div>
                    <i class="fas fa-chart-line mr-1 purple-color"></i>
                    Incidencias
                </a>
            </li>
            <li class="card my-1">
                <a class="m-3 " id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products"
                    aria-selected="false">
                    <div class="md-v-line"></div>
                    <i class="fas fa-shopping-bag mr-1 purple-color"></i>
                    Lista de precios
                </a>
            </li>
            <li class="card my-1">
                <a class="m-3 " id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients"
                    aria-selected="false">
                    <div class="md-v-line"></div>
                    <i class="fas fa-users mr-1 purple-color"></i>
                    Clientes
                </a>
            </li>
            <!-- <li class="card my-1">
                    <a class="list-group-item " id="preferences-tab" data-toggle="tab" href="#preferences" role="tab"
                        aria-controls="preferences" aria-selected="false">
                        <div class="md-v-line"></div>
                        <i class="fas fa-tools mr-1 purple-color"></i>
                        Preferencias
                    </a>
                </li> -->
            <li class="card my-1">
                <a class="m-3 " id="presupuestator-tab" data-toggle="tab" href="#presupuestator" role="tab"
                    aria-controls="presupuestator" aria-selected="false">
                    <div class="md-v-line"></div>
                    <i class="fas fa-calculator mr-1 purple-color"></i>
                    Presupuestator
                </a>
            </li>
        </ul>

        <!-- Card de ingresos y egresos -->
        <div class="card mt-4">

            <div class="">

                <i class="far fa-money-bill-alt fa-lg green z-depth-2 p-4 ml-3 mt-n3 rounded text-white"
                data-toggle="modal"
                data-target="#asdasd"></i>
                <div class="float-right text-right p-1">
                    <p class="text-uppercase text-muted my-1 mr-3"><small>Última semana</small></p>
                    <h4 class="font-weight-bold mb-0 mr-3">${{ultimaSemana}}</h4>
                    <div class="row mt-1 mb-3 d-flex justify-content-end mr-3">
                        <span><small>Saldo: </small></span>
                        <span class="text-uppercase mt-1 badge badge-danger ml-2"> - ${{saldoVentas}}</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- Botonera SM -->
        <ul class="botonera-list-sm card list-group list-group-horizontal text-center nav-tabs" id="myTab"
            role="tablist">

            <li class="nav-item col text-center p-2">
                <a class="active incidencia" id="incidencias-tab" data-toggle="tab" href="#incidencias" role="tab"
                    aria-controls="incidencias" aria-selected="true">
                    <i class="fas fa-chart-line purple-color"></i>
                </a>
            </li>

            <li class="nav-item text-center col p-2">
                <a class="incidencia" id="products-tab" data-toggle="tab" href="#products" role="tab"
                    aria-controls="products" aria-selected="false">
                    <i class="fas fa-shopping-bag purple-color"></i>
                </a>
            </li>

            <li class="nav-item text-center col p-2">
                <a class="incidencia" id="clients-tab" data-toggle="tab" href="#clients" role="tab"
                    aria-controls="clients" aria-selected="false">
                    <i class="fas fa-users purple-color"></i>
                </a>
            </li>

            <!-- <li class="card my-1">
                        <a class="list-group-item " id="preferences-tab" data-toggle="tab" href="#preferences" role="tab"
                            aria-controls="preferences" aria-selected="false">
                            <div class="md-v-line"></div>
                            <i class="fas fa-tools mr-1 purple-color"></i>
                            Preferencias
                        </a>
                    </li> -->

            <li class="nav-item text-center col p-2">
                <a class="incidencia" id="presupuestator-tab" data-toggle="tab" href="#presupuestator" role="tab"
                    aria-controls="presupuestator" aria-selected="false">
                    <i class="fas fa-calculator purple-color"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Right block -->
    <div class="col-12 col-md-8 col-lg-10 tab-content mx-auto tabla-contenidos" id="myTabContent">

        <!-- Incidencias -->
        <div class="tab-pane fade show active card card-list " id="incidencias" role="tabpanel"
            aria-labelledby="incidencias-tab">
            <app-incidencias></app-incidencias>
        </div>

        <!-- Lista de precios -->
        <div class="tab-pane fade card card-list " id="products" role="tabpanel" aria-labelledby="products-tab">
            <app-productos></app-productos>
        </div>

        <!-- Lista de clientes -->
        <div class="tab-pane fade card card-list " id="clients" role="tabpanel" aria-labelledby="clients-tab">
            <app-clientes></app-clientes>
        </div>

        <!-- Presupuestator -->
        <div class="tab-pane fade card card-list " id="presupuestator" role="tabpanel"
            aria-labelledby="presupuestator-tab">
            <app-presupuestar></app-presupuestar>
        </div>

        <!-- Balance -->
        <div class="modal fade " id="asdasd" tabindex="-1" role="dialog"
            aria-labelledby="exampleModal3Label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal3Label">Tu balance anual</h5>
                        <button (click)="ngOnInit()" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-balance></app-balance>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>