<div class="row">
    <div class="col-md-4 h6">{{product.nombre}}</div>
    <div class="col-md-3 text-center text-primary">{{product.categoria}}</div>
    <div class="col-md-3 h6 text-right"><strong>{{product.precio | currency : '$'}}</strong></div>
    <div class="col-md-2">
        <mat-icon matPrefix (click)="viewProduct(product._id)">remove_red_eye</mat-icon>
        <mat-icon matPrefix (click)="editProduct(product._id)">edit</mat-icon>
        <mat-icon matPrefix (click)="deleteProduct(product._id)">delete</mat-icon>
    </div>
</div>
<hr class="py-0 mt-1">