<!-- <div class="container">
    <div class="row">
        <label for="material">Seleccione un material</label>
        <select class="form-control" type="spinner" name="material" #material="ngModel" [(ngModel)]="" id="material">
            <option value=""></option>
        </select>
    </div>

    <div class="row">
        <input type="number" value="Ancho en centimetros" class="col-md-5">
        <p class="col-md-2">X</p>
        <input type="number" value="Alto en centimetros" class="col-md-5">
    </div>
    <button class="btn btn-warning col-md-12">CALCULAR</button>
    <h3>$</h3>
    <h5></h5>

</div> -->