<div class="container" *ngIf="venta">
    <!-- <h2>{{title}}</h2> -->

    <div class="alert alert-success" *ngIf="status == 'succes'">
        La venta se ha agregado correctamente, puedes verlo <a [routerLink]="['/venta', save_venta._id]">aqui</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'failed'">
        La venta no se ha podido agregar
    </div>

    <form action="" #ventaForm="ngForm" (ngSubmit)="onSubmit(ventaForm)">
        <div class="row">

            <!-- FECHA -->
            <!-- <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label for="fecha">Fecha</mat-label><br>
                            <input matInput type="date" name="fecha" id="fecha" #fecha="ngModel"
                                [(ngModel)]="venta.fecha" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label for="cliente">Cliente nombre</mat-label>
                            <mat-select class="col-md-10 col-lg-10" type="spinner" name="cliente" #cliente="ngModel"
                                [(ngModel)]="venta.cliente" required>
                                <mat-select-trigger></mat-select-trigger>
                                <mat-option></mat-option>
                                <mat-option value="{{cliente.nombre}}" name="cliente" id="nombre"
                                    *ngFor="let cliente of clientes">
                                    {{cliente.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="example-full-width">
                        <mat-form-field appearance="fill">
                            <mat-label>Cliente</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let cliente of clientes" [value]="cliente.nombre">{{cliente.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table> -->

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-label for="fecha">Fecha</mat-label><br>
                    <input matInput type="date" name="fecha" id="fecha" #fecha="ngModel"
                        [(ngModel)]="venta.fecha" required>
                </mat-form-field> -->
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Long Last Name That Will Be Truncated</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <!-- <mat-form-field class="col-md-4">
                <mat-label for="fecha">Fecha</mat-label><br>
                <input matInput class="form-control" type="date" name="fecha" id="fecha" #fecha="ngModel"
                    [(ngModel)]="venta.fecha" required>
                <span *ngIf="fecha.touched && !fecha.valid" class="form_error">
                    La fecha es obligatoria.
                </span>
            </mat-form-field> -->

            <!-- FECHA -->

            <!-- CLIENTE -->

            <!-- <mat-form-field class="col-md-8" appearance="fill">
                <mat-label for="cliente">Cliente nombre</mat-label>
                <mat-select class="col-md-10 col-lg-10" type="spinner" name="cliente" #cliente="ngModel"
                    [(ngModel)]="venta.cliente" required>
                    <mat-option></mat-option>
                    <mat-option value="{{cliente.nombre}}" name="cliente" id="nombre" *ngFor="let cliente of clientes">
                        {{cliente.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->


            <span *ngIf="!venta.cliente" class="col-md-12">
                <!-- <app-addcliente></app-addcliente> -->
            </span>

            <!-- CLIENTE -->

        </div>

        <!-- PEDIDO -->

        <div class="form-group">
            <label for="pedido">Pedido</label><br>
            <input class="form-control" name="pedido" id="" #pedido="ngModel" [(ngModel)]="venta.pedido">
            <span *ngIf="pedido.touched && !pedido.valid" class="form_error">
                El pedido es obligatorio.
            </span>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label><br>
            <textarea class="form-control" type="text" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="venta.descripcion"></textarea>
        </div>

        <!-- PEDIDO -->

        <!-- MONTO Y PRECIO -->

        <div class="row">
            <div class="form-group col-md-6">
                <label for="monto">Monto</label><br>
                <input class="form-control" type="number" name="monto" id="monto" #monto="ngModel"
                    [(ngModel)]="venta.monto" required>
                <span *ngIf="monto.touched && !monto.valid" class="form_error">
                    El monto es obligatorio.
                </span>
            </div>

            <div class="form-group col-md-6">
                <label for="monto">Saldo</label><br>
                <input class="form-control" type="number" name="saldo" id="" #saldo="ngModel" [(ngModel)]="venta.saldo">
                <span *ngIf="saldo.touched && !saldo.valid" class="form_error">
                    Si no entrega seña, por favor coloque 0.
                </span>
            </div>
        </div>

        <!-- MONTO Y PRECIO -->


        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="entregado" #entregado="ngModel"
                [(ngModel)]="venta.entregado" value="" id="defaultCheck1">
            <label for="entregado" class="form-check-label">
                Entregado?
            </label>
        </div>

        <input class="btn btn-info mt-4 col-md-12" type="submit" value="Vender" name="" id=""
            [disabled]="!ventaForm.form.valid" />

    </form>

</div>