<!-- Section: Block Content -->
<section>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mes</th>
                            <th scope="col">Ingreso</th>
                            <th scope="col">Gasto</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a class="text-primary">Enero</a></th>
                            <td>$ {{mesesIngreso[0]}}</td>
                            <td>$ {{mesesEgreso[0]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Febrero</a></th>
                            <td>$ {{mesesIngreso[1]}}</td>
                            <td>$ {{mesesEgreso[1]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar1" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Marzo</a></th>
                            <td>$ {{mesesIngreso[2]}}</td>
                            <td>$ {{mesesEgreso[2]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar2" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Abril</a></th>
                            <td>$ {{mesesIngreso[3]}}</td>
                            <td>$ {{mesesEgreso[3]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar3" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Mayo</a></th>
                            <td>$ {{mesesIngreso[4]}}</td>
                            <td>$ {{mesesEgreso[4]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar4" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Junio</a></th>
                            <td>$ {{mesesIngreso[5]}}</td>
                            <td>$ {{mesesEgreso[5]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar5" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Julio</a></th>
                            <td>$ {{mesesIngreso[6]}}</td>
                            <td>$ {{mesesEgreso[6]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Agosto</a></th>
                            <td>$ {{mesesIngreso[7]}}</td>
                            <td>$ {{mesesEgreso[7]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Septiembre</a></th>
                            <td>$ {{mesesIngreso[8]}}</td>
                            <td>$ {{mesesEgreso[8]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Octubre</a></th>
                            <td>$ {{mesesIngreso[9]}}</td>
                            <td>$ {{mesesEgreso[9]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Noviembre</a></th>
                            <td>$ {{mesesIngreso[10]}}</td>
                            <td>$ {{mesesEgreso[10]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="text-primary">Diciembre</a></th>
                            <td>$ {{mesesIngreso[11]}}</td>
                            <td>$ {{mesesEgreso[11]}}</td>
                            <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer white py-3 d-flex justify-content-between">
            </div>
        </div>
    </div>
</section>
<!-- Section: Block Content -->