<div class="container" *ngIf="material">
    <h2>{{title}}</h2>

    <form action="" #materialForm="ngForm" (ngSubmit)="onSubmit(materialForm)">
        <div class="row">
            <div class="alert alert-succes" *ngIf="status == 'succes'">
                El material se ha agregado correctamente, puedes verlo <a [routerLink] = "['/material', save_material._id]">aqui</a>
            </div>
            <div class="alert alert-danger" *ngIf="status == 'failed'">
                El material no se ha podido agregar.
            </div>

            <div class="form-group col-md-8 col-sm-12">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="" #nombre="ngModel" [(ngModel)]="material.nombre" required>
                <span *ngIf="nombre.touched && !nombre.valid" class="form_error">
                    El nombre es obligatorio.
                </span>
            </div>
            <div class="form-group col-md-4 col-sm-12">
                <label for="costo">Costo</label>
                <input type="number" class="form-control" name="costo" id="" #costo="ngModel" [(ngModel)]="material.costo" required> 
                <span *ngIf="costo.touched && !costo.valid" class="form_error">
                    El costo es obligatorio.
                </span>
            </div>
        </div>

        <input type="submit" class="btn btn-warning col-md-12 mt-4" value="Agregar material" name="" id="" [disabled]="!materialForm.form.valid"/>
    
    </form>
</div>