<div class="row m-3">
    <div *ngIf="preferences" class="col-12 mat-elevation-z8 productos bg-white">
        <div class="alert alert-success" *ngIf="status == 'succes'">Preferencias actualizadas correctamente.</div>
        <div class="alert alert-danger" *ngIf="status == 'failed'">Las preferencias no se han podido agregar.</div>
        <form class="text-center p-5" action="#!" #preferencesForm="ngForm" (ngSubmit)="onSubmit(preferencesForm)">
            <!-- Name & phone -->
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label class="w-100">Nombre del negocio</mat-label>
                        <input matInput type="text" name="nameCommerce" #nameCommerce="ngModel"
                            [(ngModel)]="preferences.nameCommerce" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Telefono</mat-label>
                        <input matInput type="tel" name="phoneContact" #phoneContact="ngModel"
                            [(ngModel)]="preferences.phoneContact">
                    </mat-form-field>
                </div>
            </div>

            <!-- Description -->
            <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label class="w-100">Descripción</mat-label>
                <textarea matInput rows="4" type="text" name="descriptionCommerce" #descriptionCommerce="ngModel"
                    [(ngModel)]="preferences.descriptionCommerce"></textarea>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="emailContact" #emailContact="ngModel"
                    [(ngModel)]="preferences.emailContact">
                <!-- <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="emailContact.hasError('email') && !emailContact.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailContact.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error> -->
            </mat-form-field>

            <!-- Logo -->
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Cargar logo</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" name="imageLogo" #imageLogo="ngModel"
                        [(ngModel)]="preferences.imageLogo" (change)="fileChangeEvent($event)" />
                    <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                </div>
            </div>

            <!-- Ubication -->
            <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label class="w-100">Dirección</mat-label>
                <input matInput type="text" name="ubicationContact" #ubicationContact="ngModel"
                    [(ngModel)]="preferences.ubicationContact">
            </mat-form-field>

            <!-- Facebook, instagram & twitter -->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label class="w-100">Facebook</mat-label>
                        <input matInput type="text" name="facebook" #facebook="ngModel"
                            [(ngModel)]="preferences.facebook">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-xs-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Instagram</mat-label>
                        <input matInput type="text" name="instagram" #instagram="ngModel"
                            [(ngModel)]="preferences.instagram">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-xs-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Twitter</mat-label>
                        <input matInput type="text" name="twitter" #twitter="ngModel" [(ngModel)]="preferences.twitter">
                    </mat-form-field>
                </div>
            </div>

            <button mat-raised-button color="primary" class="w-100" type="submit"
                [disabled]="!preferencesForm.form.valid">Actualizar preferencias</button>
        </form>
    </div>
</div>