<!-- <mat-card class="mat-elevation-z8 col-md-8">
    <mat-card-title>
        <h6>Productos
            <mat-form-field class="ml-2 w-auto">
                <mat-label class="h6"></mat-label>
                <input id="searcher" matInput name="" #producto="ngModel" [(ngModel)]="producto.name"
                    [value]="producto.name" (keyup.enter)="searchProduct(producto.name)">
                <a matSuffix>
                    <mat-icon (click)="searchProduct(producto.name)" class="pointer">search</mat-icon>
                </a>
                <a matSuffix>
                    <mat-icon (click)="cleanProducts()" class="pointer">close</mat-icon>
                </a>
            </mat-form-field>
        </h6>
    </mat-card-title>
    <mat-card-content>
        <mat-list class="tabla-productos scrollbar-info">
            <div *ngIf="products.length < 1" class="spinner-border text-info text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span *ngIf="products.length < 1" class="w-100 text-center mt-2">
                <p>Aun no hay productos para mostrar.</p>
            </span>
            <span *ngIf="!productsFiltered" class="p-0">
                <app-item-producto *ngFor="let product of products" [product]="product">
                </app-item-producto>
            </span>
            <span *ngIf="productsFiltered" class="p-0">
                <app-item-producto *ngFor="let product of productsFiltered" [product]="product">
                </app-item-producto>
            </span>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button class="greenblue" (click)="addProduct()">
            <mat-icon>plus_one</mat-icon> Agregar producto
        </a>
    </mat-card-actions>
</mat-card> -->

<div class="col-md-8">
    <mat-form-field>
        <mat-label>Buscar producto</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="view(row._id)">
                            <mat-icon>remove_red_eye</mat-icon>
                            <span>Ver</span>
                        </button>
                        <button mat-menu-item (click)="edit(row._id)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item (click)="delete(row._id)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                    {{row.nombre}}
                </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                <td mat-cell *matCellDef="let row" class="price">
                    <mat-chip-list>
                        <mat-chip><span>{{row.categoria}}</span></mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td mat-cell *matCellDef="let row" class="price">
                    <span class="">
                        {{row.precio | currency}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row">
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay productos con el nombre "{{input.value}}"</td>
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <button mat-flat-button color="accent" class="mt-2 w-100" (click)="add()">Nuevo producto</button>
</div>