
<div class="mat-elevation-z8 scrollbar-info tabla-productos">
    <div class="p-1">
  
      <span class="fade show mx-3 mt-3">
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0"
          class="scrollspy-example2 scrollbar-secondary fade show">
          <!-- DIV CON LA CLASE PARA SCROLL DE VENTAS -->
          <div class="container-fuild">
  
            <table class="table">
              <thead class="thead-dark bg-violet">
                <tr class="bg-violet">
                  <th>Producto</th>
                  <!-- <th>Descripcion</th> -->
                  <th>Categoria</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
              </thead>
  
              <div *ngIf="!productos " class="text-center mt-4">
                <div class="spinner-grow text-info" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
  
              <tbody>
                <tr *ngFor="let producto of productos">
                  <td class="font-weight-bold" scope="row">{{producto.nombre}}</td>
                  <!-- <td>{{producto.descripcion}}</td> -->
                  <td>{{producto.categoria}}</td>
                  <td class="font-weight-bold"><strong>${{producto.precio}}</strong></td>
                  <td>
                    <!-- <i class="fas fa-eye ml-2 icon-action" [routerLink]="['/producto', producto._id]"></i> -->
                    <!-- <i class="fas fa-edit ml-1" [routerLink]="['/editar-producto', producto._id]" data-toggle="modal"
                      data-target="#modalEditarVenta"></i> -->
                    <!-- <i class="fas fa-edit ml-1" (click)="editVenta(venta._id)" data-toggle="modal" data-target="#modalEditarVenta"></i> -->
                    <!-- <i class="fas fa-trash-alt ml-1" (click)="deleteProduct(producto._id)"></i> -->
                  </td>
                </tr>
              </tbody>
            </table>
  
  
            <!-- MODAL PARA AGREGAR PRODUCTOS -->
            <div class="modal fade " (click)="ngOnInit()" id="modalAgregarProducto" tabindex="-1" role="dialog"
              aria-labelledby="exampleModal3Label" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Agregar nuevo producto</h5>
                    <button (click)="ngOnInit()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- <app-addproducto></app-addproducto> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card-footer white py-3 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary btn-rounded text-white" data-toggle="modal"
            data-target="#modalAgregarProducto">
            Agregar producto
          </button>
        </div>
      </span>
    </div>
  </div>