<div class="container" *ngIf="cliente">
  <div class="data">
    <h2>Planilla de cliente</h2>
    <hr>
    <h3>{{cliente.nombre}}</h3>

    <h5 class="text-success mt-3">
      <!-- <fa-icon [icon]=" faPhone"></fa-icon> {{cliente.telefono}} -->
      {{cliente.telefono}}
    </h5>
    <h5 class="text-danger mb-3">
      <!-- <fa-icon [icon]=" faMap"></fa-icon> {{cliente.direccion}} <span *ngIf="!cliente.direccion">Sin especificar</span> -->
    </h5>

    <hr>

    <p *ngIf="confirm == false">
      <!-- <a [routerLink]="['/editar-cliente', cliente._id]" class="btn btn-outline-warning mr-3">Editar</a> -->
      <a (click)="deleteCliente(cliente._id)" class="btn btn-outline-danger ">Borrar</a>
    </p>
  </div>

  <div *ngIf="!cliente " class="text-center mt-4">
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div>
    <h4 class="mt-5">Todas las compras del cliente</h4>
    <table class="table table-hover table-md-responsive table-sm-responsive my-3">
      <thead class="thead-dark bg-violet">
        <tr class="bg-violet">
          <th>Fecha</th>
          <th>Pedido</th>
          <th>Descripción</th>
          <th>Monto</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of comprasCliente">
          <td scope="row">{{venta.fecha}}</td>
          <td>{{venta.pedido}}</td>
          <td>{{venta.descripcion}}</td>
          <td><strong>${{venta.monto}}</strong></td>
          <td><strong>${{venta.saldo}}</strong></td>
          <td>
            <p *ngIf="confirm == false">
              <!-- <a [routerLink]="['/editar-venta', venta._id]" class="btn btn-outline-warning mr-3">Editar</a> -->
            </p>
          </td>
          <td>
            <a (click)="setConfirm(true)" class="btn btn-outline-danger ">Borrar</a>
            <p *ngIf="confirm == true">
              <span class="confirm">
                ¿Estas seguro de eliminar esta venta? <br>
              </span>
              <a (click)="setConfirm(false)" class="btn btn-outline-warning mr-3">Cancelar</a>
              <a (click)="deleteVenta(venta._id)" class="btn btn-outline-danger">Eliminar definitivamente</a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>