/* Responsive Styles *//* 
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
} */

/* *************************************************************** */

*{
  
  margin: 0px;
  padding: 0px;
}

:root{
  --principal-color: rgb(255, 43, 124);
}

body {
  /* background-color: rgb(253, 253, 253); */
  background-color: #ededed;
  margin: 0px;
  padding: 0px;
}

.mat-drawer-container {
  background-color: #ededed !important;
}

.my-custom-scrollbar {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: auto;
}

h2{
  margin-top: 20px;
  margin-bottom: 30px;
}

.routerOutlet{
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
}


.botonesdeaccion{
  margin-top: 30px;
}

.noEntregado{
  color: red !important;
}

.entregado{
  color: green !important;
}

.bg-violet{
  background: #5700ed !important;
}

.table .thead-dark th {
  color: #fff;
  background-color: #5700ed !important;
  border-color: #5700ed !important;
}

.sumaVentas{
  color: green;
}

.sumaSaldo{
  color: red;
}

.form-group{
  margin-top: 5px;
}

ul .nav-link{
  color: rgb(186, 182, 189);
}

.bg-gray{
  background: #eee;
}


.scrollspy-example {
  position: relative;
  height: 550px;
  
  overflow: auto;
}

.scrollspy-example2 {
  position: relative;
  height: 600px;
  
  overflow: auto;
}

.scrollspy-example3 {
  position: relative;
  height: 650px;
  
  overflow: auto;
}

.logo{
  width: 150px;
}


.scrollbar-secondary {
  scrollbar-color: #aa66cc #F5F5F5;
  }

  /* .logo-empresa{
    width: 50%;
  } */

  .table .thead-dark th {
    color: #383838;
    background-color: #ffffff !important;
    border-color: #32baf0 !important;
}

.purple-color{
  color: #5700ed;
}

.purple-color:active{
  color: #fff;
}

.purple-bg{
  background-color: #5700ed;
}

.purple-border{
  border-color: #5700ed;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
  }

.force-overflow {
min-height: 450px;
}

.prueba i{
  font-size: 2rem;
  margin: 2rem;
}

.incidencia{
  font-size: 2rem;
  margin: 2rem;
}
  
.circulo-botonera {
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  /* width: 250px; */
  height: auto;
}
  
.logo-empresa{
  width: 80%;
  height: auto;
  background: #DDD;
}

.logo-empresa img{
  width: 100%;
  height: auto;
}
  
@media screen and (max-width: 575px) {

  /* .image-logo{
    visibility: hidden;
    height: 0px;
  }
  
  .empresa-card{
    visibility: hidden;
    height: 0px;
  } */
  
  .botonera-list-md{
    visibility: hidden;
    height: 0px;
  }


  /* .botonera-list{
    visibility: hidden;
    height: 0px;
  } */

  .tabla-contenidos{
    margin-top: 20px ;
  }

  .datos-negocio{
    visibility: hidden;
    height: 0px;
  }
} 

@media screen and (max-width: 767px) {
  
  .incidencia{
    font-size: 1.5rem;
    margin: 1.5rem;
  }

  .botonera-list-md{
    visibility: hidden;
    height: 0px;
  }
    
  .logo-empresa{
    width: 13rem;
    height: auto;
  }

  .logo-empresa img{
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 0.4rem;
  }

  .botonera-list-sm{
    text-decoration: none;
    margin-top: 1rem;
  }

  .botonera-list-sm li{
    text-decoration: none;
  }

}

@media only screen and (min-width: 767px) {
  .botonera-list-md{
    visibility: inherit;
  }

  .botonera-list-sm{
    visibility: hidden;
    height: 0px;
  }
  
  /* .logo-empresa{
    width: 10rem;
    height: 10rem;
  }

  .logo-empresa img{
    width: 50%;
    height: auto;

  } */
    
  .logo-empresa{
    width: 80%;
    height: auto;
    background: #DDD;
  }

  .logo-empresa img{
    width: 100%;
    height: auto;
  }


}


@media only screen and (min-width: 992px) {
  .navbar-nav{
    visibility: hidden;
    height: 0px;
  }
    
  .logo-empresa{
    width: 80%;
    height: auto;
    background: #DDD;
  }

  .logo-empresa img{
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }

}


.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }
  
  .scrollbar-primary {
  scrollbar-color: #4285F4 #F5F5F5;
  }
  
  .scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }
  
  .scrollbar-danger {
  scrollbar-color: #ff3547 #F5F5F5;
  }
  
  .scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }
  
  .scrollbar-warning {
  scrollbar-color: #FF8800 #F5F5F5;
  }
  
  .scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }
  
  .scrollbar-success {
  scrollbar-color: #00C851 #F5F5F5;
  }
  
  .scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }
  
  .scrollbar-info {
  scrollbar-color: #33b5e5 #F5F5F5;
  }
  
  .scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }
  
  .scrollbar-default {
  scrollbar-color: #2BBBAD #F5F5F5;
  }
  
  .scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }
  
