.tabla-productos{
    width: 100%;
    background-color: white;
    height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    padding: 0px;
    border-radius: .5rem;
    scrollbar-color: #aa66cc #F5F5F5;
}


.productos{
    padding: 0;
    padding-top: 1rem;
}


@media screen and (min-width: 576px){
    .productos{
        padding: 1rem;
    }
}