<!-- <div class="row m-3">
  <div class="col-md-12 productos">
    <div>
      <mat-card class="mat-elevation-z8">
        <mat-card-title>
          <p class="h6">Clientes

            <mat-form-field class="ml-2">
              <mat-label class="h6"></mat-label>
              <input id="searcher" matInput name="" #cliente="ngModel" [(ngModel)]="cliente.name" [value]="cliente.name"
                (keyup.enter)="searchClient(cliente.name)">
              <a matSuffix>
                <mat-icon (click)="searchClient(cliente.name)" class="pointer">search</mat-icon>
              </a>
              <a matSuffix>
                <mat-icon (click)="cleanSearcher()" class="pointer">close</mat-icon>
              </a>
            </mat-form-field>
          </p>


        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-list class=" tabla-productos scrollbar-info">

            <span *ngIf="clientes.length < 1" class="w-100 text-center mt-2">
              <p>Aun no hay clientes para mostrar.</p>
            </span>

            <div *ngIf="!clientes" class="spinner-border text-info text-center" role="status">
              <span class="sr-only">Loading...</span>
            </div>

            <span *ngIf="!clientesFiltered" class="p-0">
              <app-cliente *ngFor="let cliente of clientes" [cliente]="cliente">
              </app-cliente>
            </span>
            <span *ngIf="clientesFiltered" class="p-0">
              <app-cliente *ngFor="let cliente of clientesFiltered" [cliente]="cliente">
              </app-cliente>
            </span>

          </mat-list>


        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card class="footer-table d-flex justify-content-end example-button-container p-3">
        <a mat-raised-button class="green" color="accent" (click)="addClient()">
          <mat-icon>plus_one</mat-icon> Agregar Cliente
        </a>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="row m-3">
  <div class="col-md-12 productos">
    <mat-form-field>
      <mat-label>Buscar cliente</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="view(row._id)">
                <mat-icon>remove_red_eye</mat-icon>
                <span>Ver</span>
              </button>
              <button mat-menu-item (click)="edit(row._id)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="delete(row._id)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
            {{row.nombre}}
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
          <td mat-cell *matCellDef="let row" class="price">
            <mat-chip-list>
              <mat-chip class="tel-chip"><span>+54 {{row.telefono}}</span></mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
          <td mat-cell *matCellDef="let row" class="price">
            <span class="">
              {{row.direccion}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay clientes con el nombre "{{input.value}}"</td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <button mat-flat-button color="accent" class="mt-2 w-100" (click)="add()">Nuevo cliente</button>
  </div>
</div>